/*container grid*/
.container {
  display: grid;
  grid-template: 1fr / 25% 20% 35% ;
  grid-gap: 0.em;
}

/*right column*/
#right {
  grid-column-start: 3;
  grid-row-start: 1;
  background-color: white;
  min-width: 300px;
  border-right-style: solid;
  border-right-color: grey;
  border-right-width: 0.5em;
  border-top-style: solid;
  border-top-color: grey;
  border-top-width: 0.5em;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 0.5em;
  overflow-wrap: break-word;
  }


/*left column*/
#left {
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: black;
  position: relative;
  border-left-style: solid;
  border-left-color: grey;
  border-left-width: 0.5em;
  border-top-style: solid;
  border-top-color: grey;
  border-top-width: 0.5em;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 0.5em;
  overflow-wrap: break-word;
  
}

/*left side*/
.personal{
  color: #F2BC0C;
  grid-column: 3;
  font-family: 'Rubik', sans-serif;
}

/*titles*/
h1, h2, h3{
  font-family: 'Rubik', sans-serif;
  padding: 0.33em;
}

/*H3 font*/
h3{
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
}

/*text font*/
p, li{
  font-family: 'Rubik', sans-serif;
  padding: 0.5em;
  font-size: 0.88em;
  font-style: normal;
  font-weight: 400;
} 

/*list weight*/
li{
  font-weight: 500;
}

/*Name color*/
.name{
  background-color: #F2BC0C; 
  padding: 0.8em;  
}

/*first name font*/
#firstname{
  font-family: 'Calistoga', cursive;
  text-align: center;
}

/*last name font*/
#lastname{
  color: black;
  font-family: 'Calistoga', cursive;
  text-align: center;
}

/*education*/
#title1{
  background-color: #F2BC0C;
  padding: 0.33em;
  font-size: 1.6em;
  font-family: 'Rubik', sans-serif; 
}

/*work experience*/
#title2{
  background-color: #F2BC0C;
  padding: 0.33em;
  font-size: 1.5em;
  font-family: 'Rubik', sans-serif;
}

/*horizontal line*/
hr{
  background-color: #F2BC0C;
  height: 3px;
}

/*center left tittles*/
#language, #skill, #contact{
  text-align: center;
}

/* french level*/
#f{
  width: 20%;
  margin-left:0%;
}

/* html level*/
#ht{
  width: 90%;
  margin-left:0%;
}

/*css level*/
#cs{
  width: 75%;
  margin-left:0%;
}

/*english level*/
#e{
  width: 80%;
  margin-left:0%;
}

/*cel icon*/
#cel{
  font-size: 20px;  
}

/*world icon*/
#mundo{
  position: relative;
  top: -1.5em;
  font-size: 20px;
}

/*home adress link*/
#street{
  padding-left: 0.5em;
}

/*cel number link*/
#number{
  padding-left: 0.5em;  
}

 /*email adress link*/ 
#adress{
  padding-left: 0.5em;
  font-size: 1em
}

/*linkedin link*/
#linkedin{
  padding-left: 0.5em; 
  font-size: 1.2em
}

/* selfie*/
#me{
  width: 13em;
  border-radius: 50%; 
}
/*picture container*/
#mee{
  text-align: center;
}

/*visited link*/
a:visited{
  color: darkorchid;
}

/*selected link*/
a:hover {
  color: white;
}

/*links color*/
a{
  color: #F2BC0C;
}

/*body background*/
body{
  background-image:url("https://i.postimg.cc/1zkRkPMs/40-Black-Wood-Background-Textures-8.png");
  background-color: #403F3E;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 645px;
}

/*small screen laptops*/
@media all and (max-width: 1024px) and (min-width: 880px) {
  #title1, #title2, h3,h2{
  font-size: 1em;
  }
  
  /*text font*/
  p, li{
  font-size: 0.8em;
  }
  
 /*name font*/
  h1{
  font-size: 1em;
  }
  
  /*email font*/
  #adress{
  font-size: 0.85em;  
  }
  
  /* selfie*/
  #me{
    width: 11em;
  }
}

/*tablets*/
@media only screen and (max-width: 880px)and (min-width: 480px){

  /*body background*/
  body{
    background-color: #0e0d0d;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /*titles font*/
  #title1, #title2, h3,h2{
    font-size: 1em;
  }
  
  /*text font*/
  p, li{
    font-size: 0.8em;
  }
  
  /*name font*/
  h1{
    font-size: 1em;
  }
  
  /*right column*/
  #right{
    grid-column-start: 3;
  grid-row-start: 1;
  }
  
  /*left column*/
  #left{
    grid-column-start: 2;
    grid-row-start: 1;
  }
  
  /*email font*/
  #adress{
    font-size: 0.85em;  
  }
  
  /* selfie*/
  #me{
    width: 8em;
  }
}
/*cell phones*/
@media all and (max-device-width: 480px) and (min-device-width: 320px){
  body{ background-image: url("https://i.postimg.cc/1zkRkPMs/40-Black-Wood-Background-Textures-8.png");
    background-color: #403F3E;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
  
  /*container grid*/  
  .container {
    display: grid;
    grid-template: 2fr / 1fr;
    }
  
  /*right column*/  
  #right{
    grid-column-start: 1;
    grid-row-start: 2;
    border-left-style: solid;
    border-left-color: grey;
    border-left-width: 0.5em;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 0.5em;   
  }
  
  /*left column*/
  #left{
    grid-column-start: 1;
    grid-row-start: 1;
    border-right-style: solid;
    border-right-color: grey;
    border-right-width: 0.5em;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 0.5em;     
  }
  
  /*right titles font*/
  h3{
    font-size: 1.4em;
  }
  
  /*titles font*/
  #title1, #title2, h2{
    font-size: 1.6em;
  }
  
  /*text font*/
  p, li{
    font-size: 1.4em;
  }
  
  /*name font*/
  h1{
    font-size: 1.6em;
  }
  
  /*email adress link*/
  #adress{    
    font-size: 1.48em  
  }
  
  /*linkedin link*/
  #linkedin{
    font-size: 1.53em
  }
  
   /*cel icon*/
  #cel{    
    font-size: 21px;    
    }
  
   /*world icon*/
  #mundo{    
    font-size: 23px;    
    }
  
   /*cel number link*/
  #number{
   
    font-size: 1.8em
      }
  
   /*home adress link*/
  #street{   
    font-size: 1.53em;    
      }
  
  /*left titles*/
  #language, #skill, #contact{
    font-size: 2em;
      }
}
